/*********************************************
 *  Copyright - Pacific Community            *
 *  Droit de copie - Communauté du Pacifique *
 *  http://www.spc.int/                      *
 *********************************************/
.task-progress-pane {
    -fx-padding: 3px;
    -fx-hgap: 3px;
    -fx-vgap: 3px;
}
.task-progress-pane .title {
    -fx-font-weight: bold;
}
.task-progress-pane .message {
    -fx-opacity: 0.5;
}
.task-progress-pane .button {
    -fx-padding: 7px 10px 7px 10px;
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-color: red;
}


