.about-pane {
    -fx-padding: 6px;
}
.about-pane .header {
    -fx-hgap: 3px;
    -fx-vgap: 3px;
}
.about-pane .title {
    -fx-font-weight: bold;
    -fx-font-size: 1.3em;
}
.about-pane .version {
    -fx-font-style: italic;
    -fx-opacity: 0.5;
}
.about-pane .titled-pane .content {
    -fx-background-color: white;
    -fx-padding: 6px;
}