/***********************************************************************
 *  Copyright - Secretariat of the Pacific Community                   *
 *  Droit de copie - Secrétariat Général de la Communauté du Pacifique *
 *  http://www.spc.int/                                                *
 ***********************************************************************/
@font-face {
    font-family: 'FontAwesome';
    src: url('fontawesome-webfont.ttf');
}
.awesome-icon {
    -fx-font-family: "FontAwesome";
    -fx-font-size: 1.4em;
    -fx-text-fill: derive(black, 35%);
}
.dir-hbox {
    -fx-padding: 3px;
    -fx-spacing: 3px;
    -fx-alignment: baseline-left;
}
.netcdf-cell {    
}
.netcdf-cell:file {
    -fx-content-display: right;
}
.netcdf-cell .check-box {
    -fx-graphic-text-gap: 0px;
    -fx-label-padding: 0px;
    -fx-padding: 0px;
}
.netcdf-cell .button {
    -fx-background-color: null;
    -fx-padding: 0px;
    -fx-font-family: "FontAwesome";
    -fx-font-size: 1.4em;
    -fx-text-fill: derive(black, 35%);
}