/***********************************************************************
 *  Copyright - Secretariat of the Pacific Community                   *
 *  Droit de copie - Secrétariat Général de la Communauté du Pacifique *
 *  http://www.spc.int/                                                *
 ***********************************************************************/
.dir-hbox {
    -fx-padding: 3px;
    -fx-spacing: 3px;
    -fx-alignment: baseline-left;
}
.netcdf-cell {    
}
.netcdf-cell .check-box {
    -fx-graphic-text-gap: 0px;
    -fx-label-padding: 0px;
    -fx-padding: 0px;
}